<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Huitième exemple de barre de navigation">
			<div class="container">
				<a class="navbar-brand" href="#">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Récipient</font>
					</font>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Basculer la navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsExample07">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">Mon blog</font>
								</font>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href=" {{ path('admin')}} ">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">Tableaau de bord</font>
										</font>
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">Menu</font>
										</font>
									</a>
								</li>
							</ul>
						</li>
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">Ajouter</font>
								</font>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="#">
										<font --style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">Page</font>
										</font>
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">Article</font>
										</font>
									</a>
								</li>
							</ul>
						</li>
                        <li class="col-4 d-flex justify-content-end align-items-center">
                        d
                        </li>
					</ul>
				</div>
			</div>
		</nav>
         <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4 header-title">Blog</span>
                </a>
                <ul class="nav nav-pills align-items-center">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="">S'inscrire</a>
                            </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <span class="menu-label">Se connecter</span>
                            </a>
                        </li>
                </ul>
            </header>
        </div>

		{% block body %}{% endblock %}
	</body>
    <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="copyright">© {{ 'now'|date('Y') }} Bleu Serge Alain | Tout droit reverver</span>
                </div>
            </footer>
        </div>
</html>
